#caches
/__pycache__
*.pyc
*.pyo
*.pyd
*.idx
*.grib2
/latest.grib2

#virtual environments
/venv
/.venv
/poetry.lock

#secrets
/.env
/session*

#build artifacts
/insta_alert.egg-info
build/
dist/

#IDE folders
.vscode/
.idea/

#misc folders
/graphics
/test_alerts
/mrms_stuff
/loggedAlerts
/deprecatedortest
/old_ex_graphics
/logs
/test_json

#deprecated/testing scripts and assets
/plot_l3.py
/plot_mrms.py
/counties2
/api_scrape.py
/counties5m
/*_preprocess.py
/counties500k
/bigdomain.py
/uscities.csv 
